*{
	margin:0;*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 
body{
    min-height:100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-image: linear-gradient(#e0ffff, #20b2aa, #008080,#008b8b,#3cb371,#2f4f4f);
}
   
.quote-box{
    padding:3rem;
    transition: 0.5s;
    transition-timing-function: ease-in;
}
   
.text{
    font-size:30px;
    padding-left:10px;
    transition: 0.5s;
    transition-timing-function: ease-in;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right bottom, #091b07b7, #091b07b7);
    color: transparent;
    -webkit-background-clip: text;
}
 
.quote{
    transition: 0.5s;
    transition-timing-function: ease-in;
}
 
.new-quote{
    font-size:15px;
    border-radius: 5px;
    cursor:pointer;
    padding-bottom: 8px;
    padding-top: 9px;
    margin-top: 5px;
    background-image: linear-gradient(to right bottom, #329fa354, #310758a8);
}
 
.text-center{
    text-align: center;
}
   
.new-quote:hover{
    opacity: 0.6;
}
 
.author{
    margin:10px;
    font-size:20px;
    transition: 0.5s;
    transition-timing-function: ease-in;
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: linear-gradient(to right bottom, #19021b,#195aa0
    );
    color: transparent;
    -webkit-background-clip: text;
}
   
   
p{
    margin-top: 5px;
    text-align: center;
    position: absolute;
    width: 100%;
    top:21.5%;
}
 
.block {
perspective: 150rem;
position: absolute;
top:25%;
left: 27%;
}
 
.block__main {
    min-width: 45vw;
    position: absolute;
    transition: all .8s ease;
    backface-visibility: hidden;
    box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: .5rem;
    background-image: linear-gradient(to right bottom, #6a6f94, #26d0ce);
}
 
.block__back {
    transform: rotateY(180deg);
}
 
.rotateF{
transform: rotateY(-180deg);
}
 
.rotateB{
transform: rotate(0deg);
}
 


	padding:0;
	box-sizing: border-box;
}

body{
	min-height:100vh;
	transition: 0.5s;
	transition-timing-function: ease-in;
	background-image: url(perfect.png);
}
	
.quote-box{
	padding:3rem;
	transition: 0.5s;
	transition-timing-function: ease-in;
}
	
.text{
	font-size:30px;
	padding-left:10px;
	transition: 0.5s;
	transition-timing-function: ease-in;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(to right bottom, #091b07b7, #091b07b7);
	color: transparent;
	-webkit-background-clip: text;
}

.quote{
	transition: 0.5s;
	transition-timing-function: ease-in;
}

.new-quote{
	font-size:15px;
	border-radius: 5px;
	cursor:pointer;
	padding-bottom: 8px;
	padding-top: 9px;
	margin-top: 5px;
	background-image: linear-gradient(to right bottom, #329fa354, #310758a8);
}

.text-center{
	text-align: center;
}
	
.new-quote:hover{
	opacity: 0.6;
}

.author{
	margin:10px;
	font-size:20px;
	transition: 0.5s;
	transition-timing-function: ease-in;
	font-family: 'Open Sans Condensed', sans-serif;
	background-image: linear-gradient(to right bottom, #19021b,#195aa0
	);
	color: transparent;
	-webkit-background-clip: text;
}
	
	
p{
	margin-top: 5px;
	text-align: center;
	position: absolute;
	width: 100%;
	top:21.5%;
}

.block {
perspective: 150rem;
position: absolute;
top:25%;
left: 27%;
}

.block__main {
	min-width: 45vw;
	position: absolute;
	transition: all .8s ease;
	backface-visibility: hidden;
	box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
	border-radius: .5rem;
	background-image: linear-gradient(to right bottom, #6a6f94, #26d0ce);
}

.block__back {
	transform: rotateY(180deg);
}

.rotateF{
transform: rotateY(-180deg);
}

.rotateB{
transform: rotate(0deg);
}
